.viewMovie {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    color: white
}

.poster{
        width: 20%;
}

.details{
    width: 50%;
    text-align: left;
    
}